In [1]:
import pandas as pd

In [2]:
thor_wwii_data_clean=pd.read_csv("WW2_Missions/data/thor_wwii_data_clean.csv")

C:\Users\Lena\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,48,49,51,52,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
thor_wwii_data_clean.columns

Index(['wwii_id', 'master_index_number', 'msndate', 'theater', 'naf',
       'country_flying_mission', 'tgt_country_code', 'tgt_country',
       'tgt_location', 'tgt_type', 'tgt_id', 'tgt_industry_code',
       'tgt_industry', 'source_latitude', 'source_longitude', 'latitude',
       'longitude', 'unit_id', 'mds', 'aircraft_name', 'msn_type',
       'tgt_priority', 'tgt_priority_explanation', 'ac_attacking', 'altitude',
       'altitude_feet', 'number_of_he', 'type_of_he', 'lbs_he', 'tons_of_he',
       'number_of_ic', 'type_of_ic', 'lbs_ic', 'tons_of_ic', 'number_of_frag',
       'type_of_frag', 'lbs_frag', 'tons_of_frag', 'total_lbs', 'total_tons',
       'takeoff_base', 'takeoff_country', 'takeoff_latitude',
       'takeoff_longitude', 'ac_lost', 'ac_damaged', 'ac_airborne',
       'ac_dropping', 'time_over_target', 'sighting_method_code',
       'sighting_explanation', 'bda', 'callsign', 'rounds_ammo',
       'spares_return_ac', 'wx_fail_ac', 'mech_fail_ac', 'misc_fail_ac',
       'target_comment', 'mission_comments', 'source',
       'database_edit_comments'],
      dtype='object')

In [4]:
thor_wwii_aircraft_gloss=pd.read_csv("WW2_Missions/data/thor_wwii_aircraft_gloss.csv")

In [5]:
thor_wwii_aircraft_gloss.head(10)

,gloss_id,aircraft,name,full_name,aircraft_type,hyperlink
0,1,A20,A20,Douglas A-20 Havoc,Boston Light Bomber / Night-Fighter,http://militaryfactory.com/aircraft/detail.asp...
1,2,A24,A24,Douglass A-24 Banshee,Dive Bomber / Reconnaissance,http://militaryfactory.com/aircraft/detail.asp...
2,3,A26,A26,Douglas A-26 Invader,Medium Bomber / Heavy Assault,http://militaryfactory.com/aircraft/detail.asp...
3,4,A36,A36,North American A-36 Apache (Invader),Ground Attack / Dive Bomber,http://militaryfactory.com/aircraft/detail.asp...
4,5,ALBA,Albacore,Fairey Albacore,Naval Torpedo Bomber,http://militaryfactory.com/aircraft/detail.asp...
5,6,AUDA,Audax,Hawker Audax,Biplane Light Bomber,http://en.wikipedia.org/wiki/Hawker_Hart
6,7,B17,FORT,B-17 Flying Fortress,Heavy Bomber,http://boeing.com/history/products/b-17-flying...
7,8,B24,Liberator,B-24 Liberator,Heavy Bomber,http://militaryfactory.com/aircraft/detail.asp...
8,9,B25,B25,B-25 Mitchell,Medium Bomber,http://militaryfactory.com/aircraft/detail.asp...
9,10,B26,B26,Martin B-26 Marauder,Medium Bomber,http://militaryfactory.com/aircraft/detail.asp...

In [6]:
thor_wwii_weapon_gloss=pd.read_csv("WW2_Missions/data/thor_wwii_weapon_gloss.csv")

In [7]:
thor_wwii_weapon_gloss.head()

,rn,country,weapon_name,weapon_type,weapon_class,number_of_bomblets,alt_weapon_name,weapon_description
0,1,USA,10 lb Incendiary,NaN,IC,NaN,AN-M67 or AN-M69,10 lb Incendiary that used White Phosphorous o...
1,2,USA,100 lb Incendiary,NaN,IC,NaN,M47A2,100 lb M47A2 Incendiary usually loaded with ge...
2,3,USA,100 lb WP (White Phosphrous),NaN,IC,NaN,M47A2,100 lb M47A2 Smoke bomb
3,4,USA,1000 lb aux fuel tank Incendiary,NaN,IC,NaN,NaN,1000 lb Auxiliary fuel tank. When used as ince...
4,5,USA,136 lb (38x4 Clusters) I-M6,I-M6,IC,NaN,M6,M6 Cluster containing 38 AN-M50 incendiary bom...

In [8]:
Summary_of_Weather=pd.read_csv("Weather/Summary_of_Weather.csv")

C:\Users\Lena\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
Summary_of_Weather.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# selecting the col needed from the Summary_of_Weather DF
Weather =pd.DataFrame(Summary_of_Weather,columns = ["STA", "Date","Precip","WindGustSpd","MaxTemp","MinTemp",
                                                   "MeanTemp", "Snowfall"])
Weather.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0

In [11]:
# read the Weather_Station_Locations CSV file 
Weather_Station_Locations=pd.read_csv("Weather/Weather_Station_Locations.csv")

Weather_Station_Locations.head()

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333

In [12]:
# Celening the Weather_Station_Locations DF by droping the unwanted col
weather_station_loc = Weather_Station_Locations.drop(columns=["LAT","LON"])
weather_station_loc.head()

    WBAN            NAME STATE/COUNTRY ID  ELEV   Latitude  Longitude
0  33013          AIN EL               AL   611  36.383333   6.650000
1  33031        LA SENIA               AL    88  35.616667   0.583333
2  33023  MAISON BLANCHE               AL    23  36.716667   3.216667
3  33044        TELERGMA               AL   754  36.116667   6.416667
4  12001         TINDOUF               AL   443  27.683333  -8.083333

In [13]:
weather_station_loc['STATE/COUNTRY ID'].unique()

array(['AL', 'AT', 'AU', 'AZ', 'BA', 'BE', 'BN', 'BR', 'BZ', 'CS', 'CT',
       'CU', 'DR', 'DY', 'EG', 'EQ', 'ER', 'ET', 'FJ', 'FR', 'GH', 'GL',
       'GR', 'GU', 'GY', 'HA', 'HI', 'IL', 'IN', 'IQ', 'IR', 'IY', 'JM',
       'JP', 'KO', 'KU', 'LC', 'LI', 'LY', 'MC', 'MT', 'NG', 'NH', 'NI',
       'NK', 'NU', 'NZ', 'OM', 'PF', 'PH', 'PI', 'PK', 'PM', 'PQ', 'PR',
       'SG', 'SO', 'SP', 'TD', 'TI', 'TO', 'TS', 'TU', 'UK'], dtype=object)

In [14]:
thor_wwii_weapon_gloss.head()

,rn,country,weapon_name,weapon_type,weapon_class,number_of_bomblets,alt_weapon_name,weapon_description
0,1,USA,10 lb Incendiary,NaN,IC,NaN,AN-M67 or AN-M69,10 lb Incendiary that used White Phosphorous o...
1,2,USA,100 lb Incendiary,NaN,IC,NaN,M47A2,100 lb M47A2 Incendiary usually loaded with ge...
2,3,USA,100 lb WP (White Phosphrous),NaN,IC,NaN,M47A2,100 lb M47A2 Smoke bomb
3,4,USA,1000 lb aux fuel tank Incendiary,NaN,IC,NaN,NaN,1000 lb Auxiliary fuel tank. When used as ince...
4,5,USA,136 lb (38x4 Clusters) I-M6,I-M6,IC,NaN,M6,M6 Cluster containing 38 AN-M50 incendiary bom...

In [15]:
# Droping un-needed col from the wepon gloss DF.
weapon_gloss = thor_wwii_weapon_gloss.drop(columns=["weapon_type","weapon_class","number_of_bomblets"])
weapon_gloss.head()

,rn,country,weapon_name,alt_weapon_name,weapon_description
0,1,USA,10 lb Incendiary,AN-M67 or AN-M69,10 lb Incendiary that used White Phosphorous o...
1,2,USA,100 lb Incendiary,M47A2,100 lb M47A2 Incendiary usually loaded with ge...
2,3,USA,100 lb WP (White Phosphrous),M47A2,100 lb M47A2 Smoke bomb
3,4,USA,1000 lb aux fuel tank Incendiary,NaN,1000 lb Auxiliary fuel tank. When used as ince...
4,5,USA,136 lb (38x4 Clusters) I-M6,M6,M6 Cluster containing 38 AN-M50 incendiary bom...

In [16]:
#df['1/2 ID'] = df['1/2 ID'].str.upper()
weapon_gloss["weapon_name"] = weapon_gloss["weapon_name"].str.upper()
weapon_gloss.head(10)

,rn,country,weapon_name,alt_weapon_name,weapon_description
0,1,USA,10 LB INCENDIARY,AN-M67 or AN-M69,10 lb Incendiary that used White Phosphorous o...
1,2,USA,100 LB INCENDIARY,M47A2,100 lb M47A2 Incendiary usually loaded with ge...
2,3,USA,100 LB WP (WHITE PHOSPHROUS),M47A2,100 lb M47A2 Smoke bomb
3,4,USA,1000 LB AUX FUEL TANK INCENDIARY,NaN,1000 lb Auxiliary fuel tank. When used as ince...
4,5,USA,136 LB (38X4 CLUSTERS) I-M6,M6,M6 Cluster containing 38 AN-M50 incendiary bom...
5,6,USA,2000 LB AUX FUEL TANK AS INCENDIARY,NaN,2000 lb Auxiliary fuel tank. When used as ince...
6,7,USA,30 LB RAF INCENDIARY,I.B 30-lb Mk I-IV,30 lb Type-J Mk-I Superflamer Incendiary bomb
7,8,USA,300 LB AUX FUEL TANK INCENDIARY,NaN,300 lb Auxiliary fuel tank. When used as incen...
8,9,USA,300 LB INCENDIARY,M31,300 lb Incendiary cluster bomb usually contain...
9,10,USA,360 LB (60X6 CLUSTERS) INCENDIARY I-M13,AN-M13,500 lb Cluster containing 60 M-69 incendiary b...

In [17]:
weapon_gloss.country.value_counts()

USA              50
Great Britain     7
New Zealand       2
Name: country, dtype: int64

In [18]:
weapon_gloss.weapon_name.value_counts()

500 LB INCENDIARY                               2
250 LB GP (GP-M57)                              2
4 LB INCENDIARY                                 2
4000 LB GP (GP-M56)                             2
ATOMIC BOMB (LITTLE BOY)                        1
84 LB INCENDIARY (14X6 CLUSTER) I-M12           1
2000 LB AUX FUEL TANK AS INCENDIARY             1
20 LB FRAG                                      1
100 LB INCENDIARY                               1
TORPEDOES MISC                                  1
4 LB FRAG                                       1
400 LB FRAG (20X20 CLUSTERS)                    1
100 LB WP (WHITE PHOSPHROUS)                    1
100 LB GP (GP-M30)                              1
LEAFLET                                         1
300 LB AUX FUEL TANK INCENDIARY                 1
1600 LB AP(AP-MK 1)                             1
2000 LB MINES (M-MK 12)                         1
10 LB INCENDIARY                                1
DUMMY PARATROOPS                                1
120 LB FRAG (6X20 CLUSTERS)                     1
6 LB INCENDIARY                                 1
650 LB DC                                       1
23 LB FRAG CLUSTERS (6 X23 PER CLUSTER)         1
1000 LB MINES                                   1
260 LB FRAG                                     1
FLARES PYROTECHNICS(PY-M26)                     1
136 LB (38X4 CLUSTERS) I-M6                     1
10000 LB PUMPKIN BOMB (ATOMIC BOMB TRAINING)    1
96 LB FRAG (24X4 CLUSTERS)                      1
500 LB SAP (SA-M58)                             1
600 LB GP (GP-M32)                              1
360 LB (60X6 CLUSTERS) INCENDIARY I-M13         1
1000 LB AP (AP-MK 33)                           1
2000 LB GP (GP-M34/M66)                         1
ATOMIC BOMB (FAT MAN)                           1
500 LB AUX FUEL TANK INCENDIARY                 1
325 LB DC (DB-MK 17/47)                         1
23 LB PARAFRAG                                  1
440 LB (110X4 CLUSTERS) I-M17                   1
300 LB GP (GP-31)                               1
90 LB FRAG                                      1
360 LB FRAG (90X4 CLUSTERS)                     1
300 LB INCENDIARY                               1
1000 LB AUX FUEL TANK INCENDIARY                1
69 LB FRAG (3X23 CLUSTERS)                      1
500 LB GP (GP-M43/M64)                          1
30 LB INCENDIARY                                1
1000 LB GP (GP-M44/M65)                         1
30 LB RAF INCENDIARY                            1
512 LB (128X4 CLUSTERS) INCENDIARY I-M7         1
23 LB FRAG                                      1
350 LB DC                                       1
660 LB AUX FUEL TANK AS INCENDIARY              1
1000 LB SAP(SA-M59)                             1
Name: weapon_name, dtype: int64

In [19]:
thor=thor_wwii_data_clean.copy()

In [20]:
thor['database_edit_comments'].value_counts()

3 DAY VARIABILITY ON DATES / DATA FROM RAF HOME OFFICE REPORTS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   433
AUSTEN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            62
DUST CLOUDS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       26
NICKEL LEAFLET MISSION                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            23
NOTIONAL LAT/LONG ADDED TO GEOLOCATE BOMBS TO CORRECT CITY                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        10
RAF DRAFT NARRATIVE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                4
"15 BLENHEIMS AND 14 WELLINGTONS WERE DISPATCHED TO BOMB GERMAN WARSHIPS. 5 PLANES FROM EACH FORCE FAILED TO FIND TARGETS IN LOW-CLOUD CONDITIONS. MOST OF THE REMAINING BLENHEIMS CARRIED OUT LOW-LEVEL ATTACKS ON THE POCKET BATTLESHIP ADMIRAL SCHEER AND ON THE CRUISER EMDENIN WILHELMSHAVEN HARBOUR. AT LEAST 3 BOMBS HIT THE ADMIRAL SCHEER BUT THEY FAILED TO EXPLODE; THE EMDENWAS DAMAGED AND SUFFERED SOME CASUALTIES WHEN A BLENHEIM CRASHED ON TO IT. 5 BLENHEIMS WERE SHOT DOWN, ALL OR MOST BY ANTI-AIRCRAFT (FLAK) FIRE; 107 SQUADRON LOST 4 OF ITS 5 PLANES ON THE RAID. THE FIRST BOMBER COMMAND CASUALTIES OF THE WAR ARE BELIEVED TO HAVE BEEN FLIGHT LIEUTENANT W. F. BARTON AND HIS CREW - FLYING OFFICER J. F. ROSS, NAVIGATOR, AND CORPORAL J. L. RICKETTS, WIRELESS OPERATOR/GUNNER - OF 107 SQUADRON, ALL KILLED WHEN BLENHEIM N6184 WAS SHOT DOWN BY ANTI-AIRCRAFT GUNFIRE OF THE ADMIRAL HIPPER."      2
"LITTLE IS KNOWN OF THE WELLINGTON ATTACKS ON SHIPS AT BRUNSBUTTEL IN THE MOUTH OF THE KIEL CANAL. 4 CREWS REPORTED THAT THEY HAD FOUND TARGETS TO BOMB. OWING TO NAVIGATION ERROR, 2 BOMBS WERE DROPPED ON THE DANISH TOWN OF ESBJERG, 110 MILES NORTH OF BRUNSBUTTEL, AND 2 PEOPLE WERE KILLED THERE. SOME OF THE WELLINGTONS WERE ATTACKED BY GERMAN FIGHTERS AND 2 WELLINGTONS WERE LOST."                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
NICKEL LEAFLET MISSION; RAF DRAFT NARRATIVE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: database_edit_comments, dtype: int64

In [21]:
del thor['database_edit_comments']

In [22]:
thor['source'].value_counts()

AFHRA RAF DRAFT NARRATIVE                             37
DUST CLOUDS IN THE MIDDLE EAST                        25
"DOOLITTLE AAR; DOOLITTLE RAID 1942, OSPREY PRESS"    19
IRIS 742.308                                           4
IRIS # 00129557 CALL 170.3-6 26 AUG 1942               3
Name: source, dtype: int64

In [23]:
del thor['source']